aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.sub
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile.in
m4
missing
ylwrap

Makefile
config.log
config.status
**/.deps
**/.libs
*.la
*.lo
*.o


*.tar.gz
