NET "CONFIG_DATA[0]" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AJ26;
NET "CONFIG_DATA[1]" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AK27;
NET "CONFIG_DATA[2]" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AM14;
NET "CONFIG_DATA[3]" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AN14;
NET "CONFIG_DATA[4]" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AK29;
NET "CONFIG_DATA[5]" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AK28;
NET "CONFIG_DATA[6]" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AP13;
NET "CONFIG_DATA[7]" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AN13;
NET "REG_RDY_Z" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AL29;
NET "REG_CLK" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AK13;
NET "REG_ADS_Z" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AL30;
NET "REG_RESET_Z" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AK15;
NET "REG_RD_WR_Z" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AK14;
NET "REG_UDS_Z" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AJ30;
NET "REG_LDS_Z" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AK30;
NET "REG_EN_Z" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AK12;
NET "SYS_LED_OUT[0]" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AN28;
NET "SYS_LED_OUT[1]" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AP27;
NET "SYS_LED_OUT[2]" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AN30;
NET "SYS_LED_OUT[3]" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AP30;
NET "SYS_LED_OUT[4]" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AK17;
NET "SYS_LED_OUT[5]" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AL17;
NET "RAM_PWR_ON" IOSTANDARD = "LVCMOS25" | DRIVE=8 | SLEW=SLOW | LOC=AL14;
NET "RAM_LEDS[0]" IOSTANDARD = "LVCMOS25" | DRIVE=8 | SLEW=SLOW | LOC=AN29;
NET "RAM_LEDS[1]" IOSTANDARD = "LVCMOS25" | DRIVE=8 | SLEW=SLOW | LOC=AP28;
NET "RAM_PG" IOSTANDARD = "LVCMOS25" | LOC=AM29;
NET "MGT_PG" IOSTANDARD = "LVCMOS25" | LOC=AM13;
NET "EEPROM_SCL" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AP16;
NET "EEPROM_SDA" IOSTANDARD = "LVCMOS25" | DRIVE = 8 | SLEW = SLOW | LOC = AP15;
NET "CLK100P" IOSTANDARD = "LVDS_25" | LOC = AL27 | DIFF_TERM = "TRUE"; 
NET "CLK100N" IOSTANDARD = "LVDS_25" | LOC = AL26 | DIFF_TERM = "TRUE";

INST "comp_0_base_edge_2rx2tx_inst/fsb_slave_module_lvds_link_inst/fsb_module_reciever_gen.fsb_module_reciever_inst/single_lane_reciever_gen[1].single_lane_reciever_inst/lvds_phy_rx_inst/RX_IDELAYCTRL" LOC = "IDELAYCTRL_X0Y5" ;
NET  "comp_0_base_edge_2rx2tx_inst/fsb_slave_module_lvds_link_inst/fsb_module_reciever_gen.fsb_module_reciever_inst/single_lane_reciever_gen[1].single_lane_reciever_inst/clkdiv" period=10ns high 50%;

NET "lvds_rx_lane_p[17]" IOSTANDARD = "LVDS_25" | LOC = AH40 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[17]" IOSTANDARD = "LVDS_25" | LOC = AJ40 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[18]" IOSTANDARD = "LVDS_25" | LOC = AT41 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[18]" IOSTANDARD = "LVDS_25" | LOC = AU41 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[19]" IOSTANDARD = "LVDS_25" | LOC = AG42 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[19]" IOSTANDARD = "LVDS_25" | LOC = AH41 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[20]" IOSTANDARD = "LVDS_25" | LOC = AP42 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[20]" IOSTANDARD = "LVDS_25" | LOC = AP41 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[21]" IOSTANDARD = "LVDS_25" | LOC = AF40 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[21]" IOSTANDARD = "LVDS_25" | LOC = AG41 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[22]" IOSTANDARD = "LVDS_25" | LOC = AL42 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[22]" IOSTANDARD = "LVDS_25" | LOC = AM42 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[23]" IOSTANDARD = "LVDS_25" | LOC = AF41 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[23]" IOSTANDARD = "LVDS_25" | LOC = AF42 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[24]" IOSTANDARD = "LVDS_25" | LOC = AE40 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[24]" IOSTANDARD = "LVDS_25" | LOC = AD40 | DIFF_TERM="TRUE";
NET "lvds_rx_clk_p[1]" IOSTANDARD = "LVDS_25" | LOC = AB37 | DIFF_TERM="TRUE";
NET "lvds_rx_clk_n[1]" IOSTANDARD = "LVDS_25" | LOC = AB38 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[25]" IOSTANDARD = "LVDS_25" | LOC = AC40 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[25]" IOSTANDARD = "LVDS_25" | LOC = AC39 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[26]" IOSTANDARD = "LVDS_25" | LOC = AC41 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[26]" IOSTANDARD = "LVDS_25" | LOC = AD42 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[27]" IOSTANDARD = "LVDS_25" | LOC = AE42 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[27]" IOSTANDARD = "LVDS_25" | LOC = AD41 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[28]" IOSTANDARD = "LVDS_25" | LOC = AB39 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[28]" IOSTANDARD = "LVDS_25" | LOC = AC38 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[29]" IOSTANDARD = "LVDS_25" | LOC = AB41 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[29]" IOSTANDARD = "LVDS_25" | LOC = AB42 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[30]" IOSTANDARD = "LVDS_25" | LOC = AJ42 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[30]" IOSTANDARD = "LVDS_25" | LOC = AJ41 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[31]" IOSTANDARD = "LVDS_25" | LOC = AR42 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[31]" IOSTANDARD = "LVDS_25" | LOC = AT42 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[32]" IOSTANDARD = "LVDS_25" | LOC = AL41 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[32]" IOSTANDARD = "LVDS_25" | LOC = AK42 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[33]" IOSTANDARD = "LVDS_25" | LOC = AM41 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[33]" IOSTANDARD = "LVDS_25" | LOC = AN41 | DIFF_TERM="TRUE";

NET "lvds_tx_lane_p[0]" IOSTANDARD = "LVDS_25" | LOC = AA34;
NET "lvds_tx_lane_n[0]" IOSTANDARD = "LVDS_25" | LOC = Y34;
NET "lvds_tx_lane_p[1]" IOSTANDARD = "LVDS_25" | LOC = AA35;
NET "lvds_tx_lane_n[1]" IOSTANDARD = "LVDS_25" | LOC = AA36;
NET "lvds_tx_lane_p[2]" IOSTANDARD = "LVDS_25" | LOC = Y35;
NET "lvds_tx_lane_n[2]" IOSTANDARD = "LVDS_25" | LOC = W35;
NET "lvds_tx_lane_p[3]" IOSTANDARD = "LVDS_25" | LOC = V39;
NET "lvds_tx_lane_n[3]" IOSTANDARD = "LVDS_25" | LOC = W38;
NET "lvds_tx_lane_p[4]" IOSTANDARD = "LVDS_25" | LOC = G38;
NET "lvds_tx_lane_n[4]" IOSTANDARD = "LVDS_25" | LOC = G39;
NET "lvds_tx_lane_p[5]" IOSTANDARD = "LVDS_25" | LOC = E39;
NET "lvds_tx_lane_n[5]" IOSTANDARD = "LVDS_25" | LOC = E40;
NET "lvds_tx_lane_p[6]" IOSTANDARD = "LVDS_25" | LOC = H38;
NET "lvds_tx_lane_n[6]" IOSTANDARD = "LVDS_25" | LOC = H39;
NET "lvds_tx_lane_p[7]" IOSTANDARD = "LVDS_25" | LOC = F39;
NET "lvds_tx_lane_n[7]" IOSTANDARD = "LVDS_25" | LOC = F40;
NET "lvds_tx_clk_p[0]" IOSTANDARD = "LVDS_25" | LOC = T39;
NET "lvds_tx_clk_n[0]" IOSTANDARD = "LVDS_25" | LOC = U39;
NET "lvds_tx_lane_p[8]" IOSTANDARD = "LVDS_25" | LOC = T37;
NET "lvds_tx_lane_n[8]" IOSTANDARD = "LVDS_25" | LOC = U38;
NET "lvds_tx_lane_p[9]" IOSTANDARD = "LVDS_25" | LOC = P38;
NET "lvds_tx_lane_n[9]" IOSTANDARD = "LVDS_25" | LOC = N38;
NET "lvds_tx_lane_p[10]" IOSTANDARD = "LVDS_25" | LOC = R37;
NET "lvds_tx_lane_n[10]" IOSTANDARD = "LVDS_25" | LOC = P37;
NET "lvds_tx_lane_p[11]" IOSTANDARD = "LVDS_25" | LOC = H40;
NET "lvds_tx_lane_n[11]" IOSTANDARD = "LVDS_25" | LOC = J40;
NET "lvds_tx_lane_p[12]" IOSTANDARD = "LVDS_25" | LOC = K38;
NET "lvds_tx_lane_n[12]" IOSTANDARD = "LVDS_25" | LOC = J38;
NET "lvds_tx_lane_p[13]" IOSTANDARD = "LVDS_25" | LOC = K40;
NET "lvds_tx_lane_n[13]" IOSTANDARD = "LVDS_25" | LOC = K39;
NET "lvds_tx_lane_n[14]" IOSTANDARD = "LVDS_25" | LOC = R38;
NET "lvds_tx_lane_p[14]" IOSTANDARD = "LVDS_25" | LOC = R39;
NET "lvds_tx_lane_p[15]" IOSTANDARD = "LVDS_25" | LOC = N39;
NET "lvds_tx_lane_n[15]" IOSTANDARD = "LVDS_25" | LOC = M39;
NET "lvds_tx_lane_p[16]" IOSTANDARD = "LVDS_25" | LOC = M38;
NET "lvds_tx_lane_n[16]" IOSTANDARD = "LVDS_25" | LOC = L39;

NET "lvds_tx_lane_p[17]" IOSTANDARD = "LVDS_25" | LOC = T32;
NET "lvds_tx_lane_n[17]" IOSTANDARD = "LVDS_25" | LOC = U32;
NET "lvds_tx_lane_p[18]" IOSTANDARD = "LVDS_25" | LOC = P33;
NET "lvds_tx_lane_n[18]" IOSTANDARD = "LVDS_25" | LOC = P32;
NET "lvds_tx_lane_p[19]" IOSTANDARD = "LVDS_25" | LOC = R33;
NET "lvds_tx_lane_n[19]" IOSTANDARD = "LVDS_25" | LOC = R32;
NET "lvds_tx_lane_p[20]" IOSTANDARD = "LVDS_25" | LOC = N31;
NET "lvds_tx_lane_n[20]" IOSTANDARD = "LVDS_25" | LOC = P31;
NET "lvds_tx_lane_p[21]" IOSTANDARD = "LVDS_25" | LOC = K33;
NET "lvds_tx_lane_n[21]" IOSTANDARD = "LVDS_25" | LOC = J33;
NET "lvds_tx_lane_p[22]" IOSTANDARD = "LVDS_25" | LOC = F31;
NET "lvds_tx_lane_n[22]" IOSTANDARD = "LVDS_25" | LOC = F32;
NET "lvds_tx_lane_p[23]" IOSTANDARD = "LVDS_25" | LOC = E32;
NET "lvds_tx_lane_n[23]" IOSTANDARD = "LVDS_25" | LOC = E33;
NET "lvds_tx_lane_p[24]" IOSTANDARD = "LVDS_25" | LOC = G32;
NET "lvds_tx_lane_n[24]" IOSTANDARD = "LVDS_25" | LOC = G31;
NET "lvds_tx_clk_p[1]" IOSTANDARD = "LVDS_25" | LOC = F35;
NET "lvds_tx_clk_n[1]" IOSTANDARD = "LVDS_25" | LOC = E35;
NET "lvds_tx_lane_p[25]" IOSTANDARD = "LVDS_25" | LOC = E34;
NET "lvds_tx_lane_n[25]" IOSTANDARD = "LVDS_25" | LOC = F34;
NET "lvds_tx_lane_p[26]" IOSTANDARD = "LVDS_25" | LOC = M34;
NET "lvds_tx_lane_n[26]" IOSTANDARD = "LVDS_25" | LOC = M33;
NET "lvds_tx_lane_p[27]" IOSTANDARD = "LVDS_25" | LOC = H34;
NET "lvds_tx_lane_n[27]" IOSTANDARD = "LVDS_25" | LOC = G34;
NET "lvds_tx_lane_p[28]" IOSTANDARD = "LVDS_25" | LOC = H31;
NET "lvds_tx_lane_n[28]" IOSTANDARD = "LVDS_25" | LOC = J31;
NET "lvds_tx_lane_p[29]" IOSTANDARD = "LVDS_25" | LOC = G33;
NET "lvds_tx_lane_n[29]" IOSTANDARD = "LVDS_25" | LOC = H33;
NET "lvds_tx_lane_p[30]" IOSTANDARD = "LVDS_25" | LOC = K32;
NET "lvds_tx_lane_n[30]" IOSTANDARD = "LVDS_25" | LOC = J32;
NET "lvds_tx_lane_p[31]" IOSTANDARD = "LVDS_25" | LOC = N33;
NET "lvds_tx_lane_n[31]" IOSTANDARD = "LVDS_25" | LOC = N34;
NET "lvds_tx_lane_p[32]" IOSTANDARD = "LVDS_25" | LOC = M32;
NET "lvds_tx_lane_n[32]" IOSTANDARD = "LVDS_25" | LOC = M31;
NET "lvds_tx_lane_p[33]" IOSTANDARD = "LVDS_25" | LOC = L32;
NET "lvds_tx_lane_n[33]" IOSTANDARD = "LVDS_25" | LOC = L31;

INST "comp_0_base_edge_2rx2tx_inst/fsb_slave_module_lvds_link_inst/fsb_module_reciever_gen.fsb_module_reciever_inst/single_lane_reciever_gen[0].single_lane_reciever_inst/lvds_phy_rx_inst/RX_IDELAYCTRL" LOC = "IDELAYCTRL_X0Y3" ;
NET  "comp_0_base_edge_2rx2tx_inst/fsb_slave_module_lvds_link_inst/fsb_module_reciever_gen.fsb_module_reciever_inst/single_lane_reciever_gen[0].single_lane_reciever_inst/clkdiv" period=10ns high 50%;
NET "lvds_rx_lane_p[0]" IOSTANDARD = "LVDS_25" | LOC = AC33 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[0]" IOSTANDARD = "LVDS_25" | LOC = AD32 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[1]" IOSTANDARD = "LVDS_25" | LOC = AD33 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[1]" IOSTANDARD = "LVDS_25" | LOC = AE32 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[2]" IOSTANDARD = "LVDS_25" | LOC = AE33 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[2]" IOSTANDARD = "LVDS_25" | LOC = AE34 | DIFF_TERM="TRUE";
NET "lvds_rx_clk_p[0]" IOSTANDARD = "LVDS_25" | LOC = AE35 | DIFF_TERM="TRUE";
NET "lvds_rx_clk_n[0]" IOSTANDARD = "LVDS_25" | LOC = AF34 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[3]" IOSTANDARD = "LVDS_25" | LOC = AH34 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[3]" IOSTANDARD = "LVDS_25" | LOC = AG34 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[4]" IOSTANDARD = "LVDS_25" | LOC = AL36 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[4]" IOSTANDARD = "LVDS_25" | LOC = AL35 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[5]" IOSTANDARD = "LVDS_25" | LOC = AN34 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[5]" IOSTANDARD = "LVDS_25" | LOC = AM34 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[6]" IOSTANDARD = "LVDS_25" | LOC = AJ35 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[6]" IOSTANDARD = "LVDS_25" | LOC = AK35 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[7]" IOSTANDARD = "LVDS_25" | LOC = AB33 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[7]" IOSTANDARD = "LVDS_25" | LOC = AB32 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[8]" IOSTANDARD = "LVDS_25" | LOC = AP35 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[8]" IOSTANDARD = "LVDS_25" | LOC = AN36 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[9]" IOSTANDARD = "LVDS_25" | LOC = AM36 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[9]" IOSTANDARD = "LVDS_25" | LOC = AN35 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[10]" IOSTANDARD = "LVDS_25" | LOC = AF35 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[10]" IOSTANDARD = "LVDS_25" | LOC = AF36 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[11]" IOSTANDARD = "LVDS_25" | LOC = AR37 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[11]" IOSTANDARD = "LVDS_25" | LOC = AT36 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[12]" IOSTANDARD = "LVDS_25" | LOC = AT37 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[12]" IOSTANDARD = "LVDS_25" | LOC = AR38 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[13]" IOSTANDARD = "LVDS_25" | LOC = AU38 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[13]" IOSTANDARD = "LVDS_25" | LOC = AU37 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[14]" IOSTANDARD = "LVDS_25" | LOC = AH35 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[14]" IOSTANDARD = "LVDS_25" | LOC = AG36 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[15]" IOSTANDARD = "LVDS_25" | LOC = AV39 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[15]" IOSTANDARD = "LVDS_25" | LOC = AV38 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_n[16]" IOSTANDARD = "LVDS_25" | LOC = AJ36 | DIFF_TERM="TRUE";
NET "lvds_rx_lane_p[16]" IOSTANDARD = "LVDS_25" | LOC = AH36 | DIFF_TERM="TRUE";
NET "clk100p" period=10ns high 50%;
NET "reg_clk" period=10ns high 50%;
NET "*/clk_rdyn" TIG;
NET "*/module_control_and_status_inst/global_register_inst/lvds_loopback_mode_reg<*>" TIG;
NET "*/module_control_and_status_inst/global_register_inst/fifo_rst_reg<*>" TIG;
NET "*/module_control_and_status_inst/global_register_inst/led_mode_reg<*>" TIG;
NET "*/module_control_and_status_inst/global_register_inst/ram_power_reg<*>" TIG;
NET "*/lvds_link_initialisation_inst/slave_init_sm_gen.lvds_slave_init_sm_inst/link_complete" TIG;
NET "*/fsb_slave_module_lvds_link_inst/lvds_link_initialisation_inst/slave_init_sm_gen.lvds_slave_init_sm_inst/tx_training_done" TIG;
# NET "*/fsb_slave_module_lvds_link_inst/lvds_link_initialisation_inst/master_init_sm_gen.lvds_master_init_sm_inst/tx_training_done" TIG;
# NET "*/fsb_slave_module_lvds_link_inst/lvds_link_initialisation_inst/master_init_sm_gen.lvds_master_init_sm_inst/tx_rst" TIG;
